# Port
PORT=8080

# Origins
FRONTEND_URL="http://localhost:1234"

# Supabase
   # Keys
SUPABASE_SECRET="Your-Supabase-Secret-Key"
SUPABASE_PUBLISHABLE="Your-Supabase-Publishable-Key"
SUPABASE_URL="Your-Supabase-Project-URL"
   # General
SUPABASE_REF="Your-Supabase-Project-Ref"
SUPABASE_PASS="Your-Supabase-Database-Password"